<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/data">Data Tracer</a>
        <a href="/maintenance">Maintenance</a>
        <a href="/lns">LNS</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    
    
    <h1>IAS Spectra III > Home</h1>
    <h5><em>IAS Spectra III Multi Spectrum Gateway.</em></h5>
    <fieldset>
        <legend>Charts</legend>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    </fieldset>
    <fieldset>
        <legend>edge-vault</legend>
        <table>
            <tr>
                <td>Hostname</td>
                <td>{{.Hostname}}</td>
            </tr>
            <!-- TO-DO Gateway Time -->
            <tr>
                <td>Gateway Time</td>
                <td>04/10/2025 10:45 PM</td>
            </tr>
            <!-- TO-DO Uptime -->
            <tr>
                <td>Uptime</td>
                <td>2 Hours 14 Minutes</td>
            </tr>
            <tr>
                <td>DatabaseUrl</td>
                <td>{{.DatabaseHost}}</td>
            </tr>
            </tr>
                <tr>
                <td>MqttBrokerAddress</td>
                <td>{{.MqttBrokerAddress}}</td>
            </tr>
            </tr>
                <tr>
                <td>MqttBrokerPort</td>
                <td>{{.MqttBrokerPort}}</td>
            </tr>
            </tr>
                <tr>
                <td>MqttBrokerUser</td>
                <td>{{.MqttBrokerUser}}</td>
            </tr>
            </tr>
                <tr>
                <td>UplinkEndpoint</td>
                <td>{{.UplinkEndpoint}}</td>
            </tr>
            </tr>
                <tr>
                <td>WebUiPort</td>
                <td>{{.WebUiPort}}</td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>cache info</legend>
        <table>
            <tr>
                <td>CacheSize</td>
                <td>{{.CacheSize}} MB</td>
            </tr>
            <tr>
                <td>RowCount</td>
                <td>{{.CacheRowCount}} Rows</td>
            </tr>
            </table>
    </fieldset>
    <fieldset>
        <legend>gateway-events</legend>
    </fieldset>
</body>
<footer>

  <p>Author: <em>Haziq Norisham for Camart Sdn. Bhd.</em><br>
<img src="/static/images/ias_logo_opaque.svg" alt="IAS_LOGO" width="50px">
    
</footer>
<script>
    var uplink_count = '{{.UplinkCount}}'
    var obj = JSON.parse(uplink_count);
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
<script src="/static/js/chart.js"></script>
<script src="/static/js/dev.js" defer></script>
</html>